<footer>
    <div id="footer-area">

        <div id="footer-menu">
            <h3 class="logo">greenMeal</h3>
            <p>1750 Finch Ave. East</p>
            <p>Toronto, Ont. M2J 2X5. </p>

        </div>

        <div id="contact-info">
            <p>Phone: (416)491-5050</p>
            <p>Download the app</p>
            <p>Career</p>
        </div>
        <div id="social-media">
            <a href="https://www.facebook.com/greenMealCo"><i class="fa fa-facebook-square icon" aria-hidden="true"></i>
                Facebook
            </a>
            <br><br>
            <a href="https://www.instagram.com/greenMealCo"><i class="fa fa-instagram icon" aria-hidden="true"></i>
                Instagram
            </a>
            <br><br>
            <a href="https://www.twitter.com/greenMealCo"><i class="fa fa-twitter icon" aria-hidden="true"></i>
                Twitter
            </a>
        </div>
    </div>
    <div id="disclaimer">Copyright © Fall 2020, Maickel Siqueira, WEB322NAA</div>
</footer>