<header>
    <nav class="navbar fixed-top navbar-expand-sm green-background border-bottom ">
        <button class="navbar-toggler" data-toggle="collapse" data-target="#menuBar2">
            <i class="material-icons white">menu</i></button>
        <div class="collapse navbar-collapse justify-content-around" id="menuBar2">
            <ul class="navbar-nav ">
                <li class="nav-item"><a href="/" class="nav-link white hover-white">HOME</a></li>
                <li class="nav-item"> <a href="/on-the-menu" class="nav-link white hover-white">ON THE MENU</a></li>
                {{#if user}}
                {{!-- Based on sessions --}}
                    <li class="nav-item"> <a href="/logout" class="nav-link white hover-white">LOGOUT</a></li>
                        {{#if user.isDataClerk}}
                            <li class="nav-item"> <a href="/data-clerk" class="nav-link white hover-white">MANAGE</a></li>
                        {{else}}
                            <li class="nav-item"> <a href="/profile" class="nav-link white hover-white">PROFILE</a></li>
                        {{/if}}
                {{else}}
                <li class="nav-item"> <a href="" data-toggle="modal" data-target="#sign-up-modal"
                        class="nav-link white hover-white">SIGN UP</a></li>
                <li class="nav-item"> <a href="" data-toggle="modal" data-target="#login-modal"
                        class="nav-link white hover-white">LOGIN</a></li>
                {{/if}}
                <li class="nav-item"><a href="/on-the-menu" class="nav-link disabled">CART</a></li>
            </ul>
        </div>
        <a href="/" class="nav-brand logo white h4 hover-white">greenMeal</a>
    </nav>
    <button class="btn btn-info">Launch Modal</button>
</header>