<div class="modal fade mt-5" id="login-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content p-4">
            <div class="h3 text-center">
                User Login
                <button class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form>
                <div class="form-row">
                    <div class="col">
                        <div class="form-group">
                            <label for="first-name">E-mail</label>
                            <input class="form-control" type="email" id="first-name" size="30"
                                placeholder="Enter e-mail" required />
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input class="form-control" type="password" id="password" size="30"
                                placeholder="Enter Password" required />
                        </div>
                    </div>
                </div>

                <div class="row justify-content-between">
                    <div class="col-6 col-md-3"><input type="submit" class="btn btn-success form-control"
                            value="Sign up!"></div>
                    <div class="col-6 col-md-3"><input type="reset" class="btn btn-danger form-control" value="Clear!">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{{!-- 

<div class="block-background">
</div>
<div id="login">
    <form id="formId" method="POST" action="https://httpbin.org/post">
        <div id="loginDiv">
            <h2>Login</h2>
            <p>E-mail</p>
            <p><input type="email" name="email" size="30" required /></p>
            <p>Password:</p>
            <p><input type="password" name="password" min="6" required /></p>
        </div>
        <p class="formButtons">
            <input class="submitButtonsForm confirm" type="submit" name="submit" value="Submit" />
            <input id="close-login-popup" class="submitButtonsForm cancel" type="reset" name="cancel" value="Close"
            onclick="
                    document.getElementsByClassName('block-background')[0].style.display = 'none';
                    document.getElementById('login').style.display = 'none';
                    document.getElementsByTagName('html')[0].style.overflow = 'auto';
            " />
        </p>
    </form>
</div> --}}