<div class="container text-center">
    <hr class="mt-5">
    <div class="h2 text-success mt-5">Congratulations, {{user.firstName}}.</div>
    <br>
    <div class="h4 mb-5">Your account was created. Please check your email {{user.email}} for more information.</div>
    <hr>
</div>